<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947711154254-crknk3vs6ed4uapobju92pjjasdnd8ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947711154254-crknk3vs6ed4uapobju92pjjasdnd8ff</string>
	<key>API_KEY</key>
	<string>AIzaSyDsnRv6vMONGzEKmdwMxwAD9YziU5M3p70</string>
	<key>GCM_SENDER_ID</key>
	<string>947711154254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOSProject.Caro</string>
	<key>PROJECT_ID</key>
	<string>ioscaro</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscaro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947711154254:ios:8d29bf6e8a4a01ab2a4b1f</string>
</dict>
</plist>